{% extends "email/email_base.html" %}
{% block body %}
<body bgcolor="#FFFFFF" style="background-color: #FFFFFF; margin: 0 !important; padding: 0 !important;">
    <div style="display: none; font-size: 1px; color: {{ email_template.base_theme.color }}; line-height: 1px; font-family: {{ email_template.base_theme.font_family }}; max-height: 0px; max-width: 0px; opacity: 0; overflow: hidden;">
        {{ email_template.pre_header }}
    </div>
    <table border="0" cellpadding="0" cellspacing="0" width="100%" height="100%">
        <tbody>
        <tr height="20px"></tr>
        <tr align="center">
            <td width="10px"></td>
            <td>
                <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                    <tr align="center">
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                                {% for widget in widgets %}
                                    {% if widget.is_brand %}
                                    {% include widget.path with font_family=email_template.font_family %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;border: 1px solid #E0E0E0;border-bottom: 1px solid #969696;">
                                {% for widget in widgets %}
                                {% if not widget.is_footer and not widget.is_brand %}
                                {% include widget.path with font_family=email_template.font_family %}
                                {% endif %}
                            {% endfor %}
                        </table>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <table border="0" cellpadding="0" cellspacing="0" style="max-width: 600px;">
                                {% for widget in widgets %}
                                    {% if widget.is_footer %}
                                    {% include widget.path with font_family=email_template.font_family %}
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
            <td width="10px"></td>
        </tr>
        <tr height="20px"></tr>
        </tbody>

    </table>
</body>
{% endblock body %}
