<tr>
    <td align="center">
        <table width="100%" border="0" cellspacing="0" cellpadding="0">
            <tr>
                <td align="center" style="{{ button.theme.outer_padding }}" class="padding">
                    <table border="0" cellspacing="0" cellpadding="0" class="mobile-button-container">
                        <tr>
                            <td align="center" style="border-radius:{{ button.theme.border_radius }}px;" bgcolor="{{ button.theme.background_color }}">
                                <a href="{{ button.url_link }}" target="_blank" style="font-size: {{ button.theme.font_size }}px; font-family: {{ button.theme.font_family }}; color: {{ button.theme.color }}; text-decoration: none; border-radius: {{ button.theme.border_radius }}px; padding: {{ button.theme.inner_padding }}; border: {{ button.theme.border_width }}px {{ button.theme.border_style }} {{ button.theme.border_color }}; display: inline-block;" class="mobile-button">{{ button.text|safe }}</a>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </td>
</tr>
